# User options (set with `tower-cli config`; stored in ~/.tower_cli.cfg).
host: http://awxweb:8052
username: {{ awx_admin_username }}
password: {{ awx_admin_password }}
verbose: False
certificate:
format: json
color: True
description_on: False